# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
/bin
.DS_Store
.project

network/node_modules
network/channel-artifacts/*.tx
network/channel-artifacts/*.block
network/crypto-config/*
network/docker-compose-e2e.yaml
network/ledgers
network/ledgers-backup
network/hfc-key-store/

chaincode-docker-devmode/myc.block
chaincode-docker-devmode/chaincode/sacc/sacc
chaincode-docker-devmode/network/chaincode/chaincodeFF

# fabric sdk node modules
app/node_modules/
app/package-lock.json
app/react-client/dist/bundle.js
